.container {
    max-width: 1133px;
    margin: 0 auto;
}

.div_1_header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 146px;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

a.menu_ref {
    color: #22262A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section.header_2 {
    margin: auto;
    background-image: url(./data/_112.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1593px;
    height: 745px;
}

#collusion {
    margin: auto;
    width: 1133px;
    height: 745px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 113px;
    row-gap: 40px;
}

#item_4 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

#new_trend {
    height: 19px;
    margin-top: 16px;
    color: #22262A;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

#collusion_text {
    height: 100px;
    color: #22262A;
    font-family: Poppins;
    font-size: 81px;
    font-weight: 700;
    font-weight: bold;

}

#text_under_collusion {
    margin-top: 11px;
    color: #22262A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#button_discover {
    margin-top: 27px;
    margin-right: 32px;
    width: 147px;
    height: 35px;
    background-color: #22262A;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#button_shop_now {
    width: 147px;
    height: 35px;
    background-color: #22262A;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p.logo {
    color: #22262A;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
}

div.logo {
    display: flex;
    align-items: center;
}

div.menu {
    display: flex;
    align-items: center;
}


div.icons {
    display: flex;
    align-items: center;
}

div.category {
    display: flex;
    gap: 23px;
    justify-content: center;
    margin-top: 123px;
}

div.first_photos {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

div.under_photo {
    display: flex;
    gap: 25px;
}

#photo_5 {
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 31px;
    left: 32px;
    width: 198px;
    background-color: #FFF;
    padding: 4px;
    color: #22262A;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


p.fashion_text_1 {
    color: #22262A;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p.fashion_text_2 {
    color: #22262A;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div.text_section_block {
    margin-top: 105px;
}

div.womens_section_photos {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 22px;
}

p.text_igure {
    margin-top: 37px;
    margin-bottom: 5px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

p.discription {
    margin-top: 5px;
    margin-bottom: 1px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

span.typography {
    margin-left: 3px;
    margin-top: 4px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span.new_price {
    margin-left: 30px;
    color: #CF2929;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div.inline_block {
    display: inline-block;
    margin-top: 60px;
    margin-right: 15px;
}

#inline_block_last {
    display: inline-block;
    margin-top: 60px;
}

#avone_style {
    display: flex;
    gap: 28px;
}

#avone_style_photo_left {
    margin-top: 130px;
}

#avone_style_photos_right {
    display: flex;
    flex-direction: column;
    position: relative;
}

#avone_style_photo_1_right {
    margin-top: 40px;
}

#avone_style_white_rect {
    position: absolute;
    bottom: 28px;
    right: -5px;
    width: 227px;
    height: 281px;
    background-color: #ffffff;
}

#avone_style_photo_2_right {
    margin-top: 22px;
    margin-left: 25px;
}

#avone_style_text {
    margin-top: 175px;
    margin-left: 123px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#tachen_19 {
    margin: auto;
    margin-top: 118px;
    background-image: url(./data/_171.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1593px;
    height: 745px;
}

#tachen {
    margin: auto;
    width: 1133px;
    height: 745px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

#item_3 {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

#own_the_day_text {
    height: 20px;
    margin-top: 64px;
    color: #22262A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#tachen_text {
    height: 120px;
    margin-left: 5px;
    color: #22262A;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#shop_collection_button {
    margin-top: 5px;
    background-color: #22262A;
    width: 214px;
    height: 35px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#footer {
    background-color: #F2F8FC;
    max-width: 1593px;
    margin: auto;
}

#div_first_footer_line {
    display: flex;
    flex-direction: row;
    gap: 190px;
    padding-top: 90px;
}

#style_logo {
    color: #22262A;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

#style_logo_discript {
    max-width: 430px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#email_text {
    color: #22262A;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 11px;
}

label {
    position: relative;
}

input[type="text"] {
    border: none;
    width: 532px;
    height: 45px;
    text-indent: 24px;
}

input[type="text"]::placeholder {
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#join_button {
    position: absolute;
    top: 1px;
    right: 17px;
    background: #FFF;
    border: none;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

#join_button:hover {
    background-color: #F2F8FC;
}

#div_second_footer_line {
    display: flex;
    flex-direction: row;
    gap: 190px;
    padding-top: 15px;
}

#div_info {
    width: 400px;
}

#address {
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 23px;
}


#refgmail {
    color: #22262A;
    text-decoration: none;
    border-bottom: 1px solid black;
    height: 20px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#phone {
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#shop_help_about {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 88px;
    margin-left: 12px;
}

p.bold_shop_help_about_text {
    color: #22262A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p.footer_text {
    padding-top: 8px;
    color: #22262A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}